body {
    padding: 20px;
    height: 100vh;
    background: url('https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F765877054%2F960x0.jpg%3Ffit%3Dscale') center center/cover no-repeat;
}

.diametr {
    position: relative;
}

.tooltip {

    box-shadow: 2px 2px 3px black;
    background-color: red;
    border: solid black 1px;
    padding: 5px;
    font: bold 10pt sans-serif;
    color: yellow;

}