* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.minesweeper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F765877054%2F960x0.jpg%3Ffit%3Dscale') center center/cover no-repeat;

    .container {
        padding: 20px;
        width: 400px;
        height: 470px;
        border-radius: 5px;
        align-content: center;
        background-color: #d3d3d3;


        .grid {
            margin: 20px auto 0;
            height: 340px;
            width: 340px;
            display: flex;
            flex-wrap: wrap;
            background-color: #d3d3d3;
            border: 10px solid #f2f2f2;
            margin-bottom: 10px;

            div {
                font-size: 25px;
                text-align: center;
            }

            .valid {
                height: 40px;
                width: 40px;
                border: 5px solid;
                border-color: #ffffff #808080 #808080 #ffffff;
            }

            .checked {
                padding-top: 4px;
                height: 40px;
                width: 40px;
                border: 2px solid;
                background-color: #cccccc;
                border-color: #808080;
                font-weight: 900;

            }

            .bomb {
                height: 40px;
                width: 40px;
                border: 5px solid;
                border-color: #ffffff #808080 #808080 #ffffff;
            }

            .one {
                color: #0000ff;
            }

            .two {
                color: #008000;
            }

            .three {
                color: #ff0000;
            }

            .four {
                color: #000080;
            }
        }

        div {
            font-size: 25px;

            button {
                font-size: 20px;
                padding: 5px 20px;
                margin-right: 60px;
                margin-left: 25px;
            }
        }

        #result {
            text-align: center;
            margin-top: 5px;
            color: #e76346;
        }
    }
}