* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #3060e5;
    padding: 50px 100px;

    .curse {
        font-size: 50px;
        font-weight: bolder;
        color: #b50808;
        text-shadow: 1px 1px 5px black;
        text-align: center;
    }

    .container {
        display: flex;
        padding: 30px 20px;
        justify-content: space-around;
        margin-top: 40px;
        background-color: #ccc;

        .item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40%;
            min-height: 150px;
            background-color: green;

            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 2px;
                width: 0px;
                top: 50px;
                background-color: #000;
                transition: all 0.5s;
            }

            &:hover {
                &:after {
                    width: 125px;
                }
            }

            &_text {
                font-size: 20px;
                text-align: center;
                line-height: 30px;



                span {
                    font-size: 30px;
                }

            }

            &_btn {
                transition: all 0.5s;
                color: #000;
                margin-top: 10px;
                background-color: #eee;
                padding: 5px 40px;
                text-decoration: none;
                border-radius: 8px;

                &:hover {
                    background-color: #ccc;
                }
            }
        }
    }
}